.login-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .password-input {
    position: relative;
    display: flex;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  